<div id="<%= dom_id shopping %>">
  <p>
    <strong>Product:</strong>
    <%= shopping.product_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= shopping.room_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= shopping.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= shopping.last_name %>
  </p>

</div>
