

<div class="text-center mt-4" id="<%= dom_id product %>">
  <p>
    <strong>Nom :</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Type :</strong>
    <%= link_to product.kind %>
  </p>

  <p>
    <strong>Stock :</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong> </strong>
    <%= image_tag product.image %>
  </p>

  <p>
    <strong>Prix :</strong>
    <%= product.price %>
  </p>

</div>
