<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1 class="text-center mt-4">Products</h1>

<div class="text-center mt-4">
<%= link_to "New product", new_product_path, class: "btn btn-secondary" %>
</div>


<div id="products" class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-4">
        <div class="card">
        <div class="ratio ratio-1x1">
          <img src= "<%= product.image %>" class="card-img-top object-fit-cover" alt"<%= product.name %>" >
          </div>
          <p> Produit : <%= product.name %> </p>
          <p> Prix : <%= product.price %> € </p>

          <p>
            <%= link_to "Show this product", product %>
          </p>
        </div>
      </div>
        <% end %>
  </div>
  </div>
</div>

