<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<div id="products" class="container text-center">
  <h1 class="my-4">Le Distributeur Solidaire</h1>
  
  <div class="d-flex justify-content-center align-items-center gap-2 m-4">
    <%= link_to "Ajouter un produit", new_product_path, class: "btn btn-success" %>
    <%= link_to "Voir les commandes", shoppings_path, class: "btn btn-warning" %>
  </div>
</div>




<div class="container bg-black p-2">
  <div id="products" class="container bg-dark p-1">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-lg-4">
          <div class="card m-2">
            <%= link_to "/shoppings/new?product_id=#{product.id}", class:"product-link" do %>
              <div class="ratio ratio-1x1">
                <%= image_tag(product.image, class: "card-img-top object-fit-cover image",style: "transform=''") %>
              </div>
            <% end %>
            <p> Produit : <%= product.name %> </p>
            <p><%= if product.stock > 0
            "Stock : #{product.stock} restants"
            else
            "Rupture de stock" end %></p>
            <p> Prix : <%= product.price %> € </p>

            <p>
              <%= link_to "Show this product", product %>
              
            </p>
          </div>
        </div>
          <% end %>
    </div>
    </div>
  </div>
</div>
<div class="text-center m-4">
<%= link_to "Commander", new_shopping_path, class: "btn btn-success fixed-bottom" %>
</div>

