<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1 class="text-center mt-4">Le Distributeur Solidaire</h1>

<div class="text-center m-4">
<%= link_to "Ajouter un produit", new_product_path, class: "btn btn-success" %>
</div>

<div class="container bg-black p-2">
  <div id="products" class="container bg-dark p-1">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-lg-4">
          <div class="card m-2">
          <div class="ratio ratio-1x1">
            <img src= "<%= product.image %>" class="card-img-top object-fit-cover" alt"<%= product.name %>" >
            </div>
            <p> Produit : <%= product.name %> </p>
            <p> Stock : <%= product.stock %> restants</p>
            <p> Prix : <%= product.price %> € </p>

            <p>
              <%= link_to "Show this product", product %>
            </p>
          </div>
        </div>
          <% end %>
    </div>
    </div>
  </div>
</div>

